---
import MapPin from "@/components/icons/MapPin.astro"
import  GraduationCap  from "@/components/icons/GraduationCap.astro"
import Calendar from "@/components/icons/Calendar.astro"

const educationData = [
  {
    degree: "análisis y desarrollo de sistemas de información",
    school: "SENA",
    location: "Barranquilla, Colombia",
    period: "2020 - 2022",
    description: "",
  }
]

---


<section class="w-full max-w-4xl mx-auto py-12 ">
    <div class="flex items-center gap-2 mb-8">
      <GraduationCap className="w-8 h-8" />
      <h2 class="text-2xl font-bold">Educación</h2>
    </div>

    <div class="grid gap-6">
      {educationData.map((item) => (
        <div class="group hover:shadow-lg transition-shadow duration-200 p-4" >
          <div>
            
            <h2 class="text-xl font-bold">{item.degree}</h2>
          </div>
          <div >
            <div class="space-y-4 ">
              <div class="text-lg font-medium">{item.school}</div>
              <div class="flex flex-wrap gap-4 text-sm text-muted-foreground">
                <div class="flex items-center gap-1">
                  <MapPin class="text-black-500 dark:text-white-400 w-4 h-4" /> 
                  {item.location}
                </div>
                <div class="flex items-center gap-1">
                  <Calendar class="text-black-500 dark:text-white-400 w-4 h-4" /> 
                  {item.period}
                </div>
              </div>
              <p class="text-muted-foreground text-sm color-gray-200">{item.description}</p>
            </div>
          </div>
        </div>
      ))}
    </div>
  </section>